{% comment %} Free Shipping Bar - App Embed {% endcomment %}
<div id="free-shipping-bar-embed"></div>
{{ 'shipping-bar.css' | asset_url | stylesheet_tag }}
<script>
  window.freeShippingThreshold = 7500;
  window.freeShippingMessage = "Add {amount} more for free shipping!";
  window.freeShippingSuccessMessage = "You've unlocked free shipping!";
  window.freeShippingBarColor = "#1D9E75";
</script>
<script src="{{ 'shipping-bar.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Free Shipping Bar",
  "target": "body",
  "settings": []
}
{% endschema %}
